<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="xyz.zedler.patrick.doodle">

  <uses-feature
    android:name="android.software.live_wallpaper"
    android:required="true" />

  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.AMBIENT_WALLPAPER"/>
  <permission
    android:label="@string/info_title"
    android:name="xyz.zedler.patrick.doodle.APPLY_SETTINGS"
    android:protectionLevel="normal|signature|system"
    android:description="@string/info_title" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.Doodle"
    tools:ignore="AllowBackup">

    <activity
      android:name=".activity.SplashActivity"
      android:theme="@style/Theme.Doodle.Splash">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".activity.SettingsActivity"
      android:exported="true" />

    <service
      android:directBootAware="true"
      android:label="@string/app_name"
      android:name=".service.LiveWallpaperService"
      android:permission="android.permission.BIND_WALLPAPER"
      tools:targetApi="n">
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
      </intent-filter>
      <meta-data
        android:name="android.service.wallpaper"
        android:resource="@xml/wallpaper" />
    </service>

    <provider
      android:authorities="xyz.zedler.patrick.doodle"
      android:exported="true"
      android:name=".settings.SettingsSliceProvider">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.app.slice.category.SLICE" />
        <data
          android:host="patrick.zedler.xyz/doodle"
          android:pathPrefix="/"
          android:scheme="http" />
      </intent-filter>
    </provider>

    <receiver
      android:name=".settings.receiver.SettingsBroadcastReceiver"
      android:exported="false"
      android:directBootAware="true"
      tools:targetApi="n" />

  </application>

</manifest>