<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ This file is part of Doodle Android.
  ~
  ~ Doodle Android is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Doodle Android is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Doodle Android. If not, see <http://www.gnu.org/licenses/>.
  ~
  ~ Copyright (c) 2020-2021 by Patrick Zedler
  -->

<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="xyz.zedler.patrick.doodle">

  <uses-feature
    android:name="android.software.live_wallpaper"
    android:required="true" />

  <permission
    android:label="@string/broadcast_permission"
    android:name="xyz.zedler.patrick.doodle.APPLY_SETTINGS"
    android:protectionLevel="normal|signature|system"
    android:description="@string/broadcast_permission" />

  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="com.android.systemui.permission.PLUGIN" />


  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.Doodle"
    tools:ignore="AllowBackup">

    <activity
      android:name=".activity.SplashActivity"
      android:theme="@style/Theme.Doodle.Splash">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".activity.SettingsActivity"
      android:exported="true" />

    <activity
      android:name="androidx.slice.compat.SlicePermissionActivity"
      android:excludeFromRecents="true" />

    <service
      android:directBootAware="true"
      android:label="@string/app_name"
      android:name=".service.LiveWallpaperService"
      android:permission="android.permission.BIND_WALLPAPER"
      tools:targetApi="n">
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
      </intent-filter>
      <meta-data
        android:name="android.service.wallpaper"
        android:resource="@xml/wallpaper" />
    </service>

    <receiver
      android:name=".settings.receiver.NotificationsReceiver"
      android:permission="xyz.zedler.patrick.doodle.APPLY_SETTINGS"
      android:enabled="true"
      android:exported="true"
      android:directBootAware="true"
      tools:targetApi="n">
      <intent-filter>
        <action android:name="xyz.zedler.patrick.doodle.settings" />
      </intent-filter>
    </receiver>

    <receiver
      android:name=".settings.receiver.SettingsBroadcastReceiver"
      android:exported="false"
      android:directBootAware="true"
      tools:targetApi="n" />

    <provider
      android:name=".settings.DoodleSettingsProvider"
      android:exported="true"
      android:authorities="xyz.zedler.patrick.doodle"
      android:grantUriPermissions="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.app.slice.category.SLICE" />
      </intent-filter>
    </provider>

  </application>

</manifest>